<div class="fixed bottom-0 w-100">
  {% include post-footer.html %}

  <footer class="pa3 cf bg-white bt b--light">
    <p class="fl w-50 mb0">&copy; {{ site.time | date: '%Y' }} Foster Douglas. <span class="dn di-ns">Site designed by me and developed by a <a href="http://kevinmcgillivray.net">wizard</a>.</span></p>
    <div class="fl w-50 tr">
      <a class="dim" href="mailto:{{ site.data.bio.social.email }}"><i class="fa fa-envelope"></i></a>
      <a class="dim" href="http://twitter.com/{{ site.data.bio.social.twitter }}"><i class="fa fa-twitter"></i></a>
    </div>
  </footer>
</div>
