<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p>&copy; {{ site.time | date: '%Y' }} Foster Douglas.</p>
        <p>Site developed by my creative partner and general web wizard, <a href="http://kevinmcgillivray.net">Kevin</a>.
      </div>
      <div class="col-md-2">
        <p class="social pull-right">
          <a href="http://twitter.com/foster_stilp"><i class="fa fa-twitter"></i></a>
          <a href="mailto:fosterstilp@me.com"><i class="fa fa-envelope"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<script src="{{ site.baseurl }}/js/holder.js"></script>
