<div class="fixed bottom-0 w-100 {% if page.url contains '/about' %}dn{% endif %}">
  {% if page.layout == "project" or page.home or page.url contains "/games" %}
    {% include post-footer.html %}
  {% endif %}

  <footer class="pa3 cf bg-white bt b--light">
    <p class="fl w-70 mb0">&copy; {{ site.time | date: '%Y' }} Foster Douglas. <span class="dn di-ns">Site designed by me and developed by a <a href="http://kevinmcgillivray.net">wizard</a>.</span></p>
    <div class="fl w-30 tr">
      <a class="dim {% if page.url contains '/projects' %}fs-blue{% else %}bright{% endif %} mr2" href="mailto:{{ site.data.bio.social.email }}"><i class="fa fa-envelope f4"></i></a>
      <a class="dim {% if page.url contains '/projects' %}fs-blue{% else %}bright{% endif %}" href="http://twitter.com/{{ site.data.bio.social.twitter }}"><i class="fa fa-twitter f4"></i></a>
    </div>
  </footer>
</div>
