<header {% if page.url contains '/about' %}class="dn"{% endif %}>
  <nav class="pv2-ns">
    <div class="relative mw8 center">
      <h1 class="dib-ns pl3 ml2-ns pb2 pv3 pv1-ns mr6-ns bb b--light bn-ns bree mv0"><a class="fs-blue hover-gray" href="/">Foster Douglas <span class="sr-only">(Home)</span></a></h1>
      <ul class="dib-ns list pt3 pt1-ns pb2 pl2-ns pl4 mv0">
        <li class="dib-ns mb0-ns mr4-ns">
          <a class="light {% if page.url contains '/games' or page.home or page.url contains '/archive' %}bright{% endif %} hover-bright" href="/"><i class="fas fa-dice fa-lg f4"></i><span class="ml2 bree uppercase bold">Design</span></a>
        </li>
        <li class="dib-ns mb0-ns mr4-ns">
          <a class="light {% if page.url contains '/critique' %}fs-blue{% endif %} hover-neutral" href="#"><i class="fas fa-gamepad fa-lg f4"></i><span class="ml2 bree uppercase bold">Critique</span></a>
        </li>
        <li class="dib-ns mb0-ns mr4-ns" style="display:none;">
          <a class="light {% if page.url contains '/blog' %}fs-neutral{% endif %} hover-neutral" href="#"><i class="far fa-comment-dots fa-lg f4"></i><span class="sr-only">Blog</span></a>
        </li>
        <li class="dib-ns mb0-ns mr4-ns">
          <a class="light {% if page.url contains '/coffee' %}fs-neutral{% endif %} hover-neutral" href="#"><i class="fas fa-mug-hot fa-lg f4"></i><span class="ml2 bree uppercase bold">Coffee Talk</span></a>
        </li>
        <li class="mt1 pt3 pt2-ns pr3 v-mid absolute top-0 right-0 dib-ns ma0 mt1-ns">
          <a class="tr fs-blue hover-gray panel-toggle" href="/about"><i class="fas fa-chevron-circle-down fa-lg"></i><span class="sr-only">About</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
