<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>{{ site.title }}{% if page.title %} – {{ page.title}}{% endif %}</title>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <link rel="preload" href="{{ site.baseurl }}/img/foster-cura.png" as="image">

  <!-- Typekit -->
  <script src="https://use.typekit.net/vgo6woq.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>
</head>
