<header {% if page.url contains '/about' %}class="dn"{% endif %}>
  <nav class="bb-ns b--light pv2-ns">
    <div class="relative mw8 center">
      <h1 class="dib-ns pl3 pt1 pb2 pv2-ns pr2 bb b--light bn-ns bree mv0"><a class="neutral hover-gray" href="/">Foster Douglas <span class="sr-only">(Home)</span></a></h1>
      <ul class="dib-ns list pt1 pb2 pv2-ns pv0-ns pl3 mv0">
        <li class="dib ma0 mr4">
          <a class="light {% if page.url contains '/games' or page.home or page.url contains '/archive' %}bright{% endif %} hover-bright" href="/"><i class="fas fa-dice fa-lg f4"></i><span class="ml2 bree uppercase bold">Daily Game Designs</span></a>
        </li>
        <li class="dib ma0 mr4">
          <a class="light {% if page.url contains '/256' %}bright{% endif %} hover-neutral" href="/"><i class="fas fa-gamepad fa-lg f4"></i><span class="ml2 bree uppercase bold">256 Indies</span></a>
        </li>
        <li class="dib ma0 mr4">
          <a class="light {% if page.url contains '/projects' %}fs-blue{% endif %} hover-neutral" href="/projects"><i class="fas fa-laptop fa-lg f5"></i><span class="ml2 bree uppercase bold">Projects</span></a>
        </li>
        <li class="dib ma0 mr4" style="display:none;">
          <a class="light {% if page.url contains '/blog' %}fs-neutral{% endif %} hover-neutral" href="#"><i class="far fa-comment-dots fa-lg f4"></i><span class="sr-only">Blog</span></a>
        </li>
        <li class="dib ma0">
          <a class="light {% if page.url contains '/coffee' %}fs-neutral{% endif %} hover-neutral" href="#"><i class="fas fa-mug-hot fa-lg f4"></i><span class="ml2 bree uppercase bold">Coffee</span></a>
        </li>
        <li class="pv2 pr3 v-mid absolute top-0 right-0 dib ma0 mt1-ns">
          <a class="tr neutral hover-gray panel-toggle" href="/about"><i class="far fa-caret-square-down fa-lg"></i><span class="sr-only">About</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
