<header>
  {% include panel.html %}
  <nav class="navbar" role="navigation" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <a href="{{ site.baseurl }}/" class="navbar-brand">Foster Douglas</a>
      </div>
      <div class="no-cf">
        <ul class="nav navbar-nav navbar-left">
          <li {% if page.url contains "/games" or page.home %}class="active"{% endif %}><a href="/"><i class="fa fa-gamepad"></i></a></li>
          <li {% if page.url contains '/projects' %}class="active"{% endif %}><a href="/projects"><i class="fa fa-th"></i></a></li>
        </ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<li>
		    		<a href="#"><i class="fa fa-caret-square-o-down icon-panel"></i></a>
		    	</li>
		    </ul>
      </div>
    </div>
  </nav>
</header>
