<div class="modal fade" id="{{ post.title | remove: " "}}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="container">
          <article class="post">
            <div class="col-md-3">
              <div class="card">
                <h1 id="myModalLabel">{{ post.title }}</h1>
              </div>
              <div class="card post-meta">
                <p>{% for tag in post.tags %}#{{ tag }} {% endfor %}</p>
                <p>{% for icon in post.icons %}{{ icon }}{% endfor %}</p>
              </div>
            </div>
            <div class="col-md-9">
              <div class="card">
                {{ post.content }}
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>