<div class="top-panel" id="top-panel">
  <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="top-panel-caption">
        <h2>Hay, I'm Foster.</h2>
        <p>I'm a digital creative, game designer, entrepreneur, and artist. I believe in diversity, collaboration, and creativity. I live in San Francisco, where the weather is consistently confusing.</p>
        <div class="social">
          <a href="http://twitter.com/{{ site.data.bio.social.twitter }}" data-toggle="tooltip" data-placement="bottom" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="mailto:{{ site.data.bio.social.email }}" data-toggle="tooltip" data-placement="bottom" title="Email"><i class="fa fa-envelope"></i></a>
          <a href="/downloads/fosterdouglas_resume.pdf" data-toggle="tooltip" data-placement="bottom" title="Résumé" target="_blank"><i class="fa fa-book"></i></a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
