<div class="top-panel" id="top-panel">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="top-panel-caption">
          <h2>Hay, I'm Foster.</h2>
          <p>
            Foster is digital creative, game designer, artist, and
            "entrepreneur." Here he posted a new game design thought each day
            for over 3 years, between 2015 and 2017. He currently lives in
            beautiful Oakland, California.
          </p>
          <div class="social">
            <a
              href="http://twitter.com/{{ site.data.bio.social.twitter }}"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Twitter"
              target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              href="mailto:{{ site.data.bio.social.email }}"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Email"
              ><i class="fa fa-envelope"></i
            ></a>
            <a
              href="/downloads/fosterdouglas_resume.pdf"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Résumé"
              target="_blank"
              ><i class="fa fa-book"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- <button style="background-color: transparent;" class="bn absolute top-2 right-2 f3 icon-panel"><i class="fa fa-times-circle dim"></i></button>
  </div> -->
    </div>
  </div>
</div>
