{% if page.home %}
  {% for post in site.categories.games limit: 1 %}
    {% assign thePost = post %}
  {% endfor %}
{% else %}
  {% assign thePost = page %}
{% endif %}

<section class="pa3 bg-white bt-ns b--light cf">
  <div class="mw8 center">
    <div class="fl-ns w-30-ns">
      <a href="/archive" class="db dib-ns br3 bw1 bree tc bright b ba b--bright pv2 ph4"><span class="fa fa-gamepad mr1"></span> All game posts</a>
    </div>
    <div class="fl-ns w-70-ns">
      {% include post-footer-buttons.html %}
    </div>
  </div>
</section>
