{% if post %}
  {% assign thePost = post %}
{% else %}
  {% assign thePost = page %}
{% endif %}

<article>
	<h1 class="bg-bright pa3"><a class="white" href="{{ thePost.url }}">{{ thePost.title }}</a></h1>
  <div class="ph3">
    {{ thePost.content }}
    <p class="mb0">{{ thePost.date | date: "%B %-d, %Y" }}</p>
    <p class="post-meta light mb5">{% for tag in thePost.tags %}#{{ tag }} {% endfor %}</p>
    <hr class="mv4 short-rule">
    <div class="mv4 measure">
      {% capture bio %}{% include bio.md %}{% endcapture %}
      {{ bio | markdownify }}
    </div>
  </div>
</article>
