<!-- <a href="#" class="btn btn-default"><span class="fa fa-hand-peace-o"></span> I enjoyed this post!</a> -->
<a target="_blank" href="https://twitter.com/intent/tweet?text=Daily%20Game%20Design%20{{ thePost.title }}&url={{ thePost.url }}&via={{ site.data.bio.social.twitter }}" class="db dib-ns br3 bw1 bree tc neutral b ba b--neutral pv2 ph4"><span class="fa fa-twitter"></span> Share this post on Twitter!</a>
<!-- <button id="random-button" class="btn btn-default"><span class="fa fa-random"></span> See a random post!</button> -->
