<div class="pb3 ph3">
  <hr class="short-rule">
  <h3 class="ttu tracked mb3 neutral"><span style="margin-right: 5px;" class="fa fa-heart-o"></span> Recent Favorites</h3>
  {% assign favoritePosts = site.categories.games | where:'favorite', true %}
  {% for post in favoritePosts limit: 7 %}
    <ul class="menu list-unstyled">
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    </ul>
  {% endfor %}

  <h3 class="ttu tracked mb3 neutral"><span style="margin-right: 5px;" class="fa fa-calendar"></span> Most Recent Posts</h3>
  {% for post in site.categories.games limit: 6 %}
    <ul class="menu list-unstyled">
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    </ul>
  {% endfor %}

</div>

<!-- <p>Subscribe via <a href="/atom.xml">RSS <i class="fa fa-rss"></i></a></p> -->
