{% if post %}
  {% assign thePost = post %}
{% else %}
  {% assign thePost = page %}
{% endif %}

<article>
	<h1 class="bg-bright pa3"><a class="white" href="{{ thePost.url }}">{{ thePost.title }}</a></h1>
  <div class="ph3">
    {{ thePost.content }}
    <p>{{ thePost.date | date: "%B %-d, %Y" }}<br>
    <span class="post-meta light">{% for tag in thePost.tags %}#{{ tag }} {% endfor %}</span></p>
    <hr class="short-rule">
    <div class="measure">
      {% capture bio %}{% include bio.md %}{% endcapture %}
      {{ bio | markdownify }}
    </div>
  </div>
</article>
