/*
 * Global
 */

html {
	font-size: 16px;
}
@media (min-width:768px) {
	html {
		font-size: 20px;
	}
}
body {
	font-size: 1em;
	line-height: 1.35;
	font-family: 'sharik-sans', sans-serif;
  color: #69778A;
  left: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.main-content {
  padding-top: 85px;
}
img {
	width: 100%;
	height: auto;
	border-radius: .6rem;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .img-contain {
    width: auto;
  }
}
iframe {
	border: 5px solid rgba(0,0,0,1);
	border-radius: .6rem;
}
/* Not sure what flipped and transparent are for right now */
.flipped {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.transparent {
  opacity: 0;
  transition: .5s all;
}
/* Helper class to center a group of columns horitontally */
.center-block {
  float: none;
}
/* Helper class to center things vertically */
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  	  -ms-transform: translateY(-50%);
  	      transform: translateY(-50%);
}
.no-cf::after {
  clear: none;
}
