/*
 * Global
 */

img {
	width: 100%;
	height: auto;
	border: .1em solid $neutral;
	//border-radius: .6rem;
  vertical-align: middle;
}
.post img {
	margin-bottom: 1rem;
}
.emoji,
.post .emoji {
  max-width: 17px;
  vertical-align: baseline;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .img-contain {
    width: auto;
	display: block;
	margin: auto;

  }
}
iframe {
	//border-radius: .6rem;
	border: .1em solid $neutral;
	margin-bottom: 1rem;
	margin-top: 0;
}
.sr-only {
	//position: absolute;
	//width: 1px;
	//height: 1px;
	//padding: 0;
	//margin: -1px;
	//overflow: hidden;
	//clip: rect(0, 0, 0, 0);
	//border: 0;
}
