/*
 * Buttons
 */

.btn {
  background-color: $white;
  position: relative;
  font-size: 1rem;
  font-family: $bree-serif;
  border-width: 2px;
  border-radius: 10px;
}
.btn:hover {
  background-color: $white;
  border-width: 2px;
  opacity: .7;
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  border-color: $neutral;
  color: $neutral;
}
.btn-default:hover {
  border-color: $neutral;
  color: $neutral;
}
.btn-primary {
  border-color: $bright;
  color: $bright;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: $white;
  border-color: $bright;
  color: $bright;
}
/* Makes a full-width button */
.btn-block {
  width: 100%;
}
