$neutral: #9B9B9B;
$bright: #F5A623;
$light: #DFDFDF;
$white: #FFF;
$fs-blue: #4BB7D7;

$default-text: $neutral;

.bg-neutral {
  background-color: $neutral;
}
.bg-bright {
  background-color: $bright;
}
.hover-bg-bright:hover {
  background-color: $bright;
}
.bg-light {
  background-color: $light;
}
.neutral {
  color: $neutral;
}
@media(min-width: 30em) {
  .neutral-ns {
    color: $neutral;
  }
}
.hover-neutral:hover {
  color: $neutral;
}
.hover-bright:hover {
  color: $bright;
}
.light {
  color: $light;
}
.b--light {
  border-color: $light;
}
.fs-blue {
  color: $fs-blue;
}
.hover-fs-blue:hover {
  color: $fs-blue;
}
.bright {
  color: $bright;
}
@media(min-width: 30em) {
  .bright-ns {
    color: $bright;
  }
  .bg-transparent-ns {
    background-color: transparent;
  }
}
