$neutral: #9B9B9B;
$bright: #F5A623;
$light: #DFDFDF;
$white: #FFF;
$fs-blue: #4BB7D7;

$default-text: $neutral;

.bg-neutral {
  background-color: $neutral;
}
.bg-bright {
  background-color: $bright;
}
.neutral {
  color: $neutral;
}
.light {
  color: $light;
}
.b--light {
  border-color: $light;
}
.fs-blue {
  color: $fs-blue;
}
.bright {
  color: $bright;
}
