$neutral: #757575;
$bright: #497aa5;
$light: #dfdfdf;
$white: #fff;
$fs-blue: #555;

$default-text: $neutral;

.bg-neutral {
  background-color: $neutral;
}
.bg-bright {
  background-color: $bright;
}
.hover-bg-bright:hover {
  background-color: $bright;
}
.hover-bg-neutral:hover {
  background-color: $neutral;
}
.bg-light {
  background-color: $light;
}
.neutral {
  color: $neutral;
}
@media (min-width: 30em) {
  .neutral-ns {
    color: $neutral;
  }
}
.hover-neutral:hover {
  color: $neutral;
}
.hover-bright:hover {
  color: $bright;
}
.hover-light:hover {
  color: $light;
}
.hover-pink:hover {
  color: pink;
  transition: 0.3s all;
}
.hover-pink {
  transition: 0.3s all;
}
.light {
  color: $light;
}
.b--light {
  border-color: $light;
}
.b--bright,
.hover-b--bright:hover {
  border-color: $bright;
}
.b--neutral,
.hover-b--neutral:hover {
  border-color: $neutral;
}
.fs-blue {
  color: $fs-blue;
}
.hover-fs-blue:hover {
  color: $fs-blue;
}
.hover-bg-fs-blue:hover {
  background-color: $fs-blue;
}
.bright {
  color: $bright;
}
@media (min-width: 30em) {
  .bright-ns {
    color: $bright;
  }
  .fs-blue-ns {
    color: $fs-blue;
  }
  .bg-transparent-ns {
    background-color: transparent;
  }
}
