/*
 * Navigation
 */

.navbar {
	background-color: $white;
  border-bottom: 1px solid $light;
  border-radius: 0px;
  transition: .3s all;
  // font-family: 'Bree', sans-serif;
  font-size: 1rem;
	margin-bottom: 0;
}
.navbar .navbar-brand {
  color: $neutral;
  font-weight: bold;
  border-bottom: 0px;
  font-size: 1.1rem;
}
@media (min-width: 992px) {
  .navbar .navbar-brand {
    margin-right: -.5rem;
  }
}
.navbar-nav li {
  margin-bottom: 0px;
}
.navbar-nav li a {
  padding-right: 0;
}
@media (min-width: 768px) {
  .navbar-nav li a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.nav>li>a:hover, .nav>li>a:focus, .navbar-toggle:hover i {
  background-color: initial;
}
.navbar-nav li.active a {
  color: $bright;
}
/* Changes font size of gamepad to match other icon */
.fa-gamepad {
	font-size: 1.4rem;
	vertical-align: -8%;
	margin-top: -10px;
}
.fa-th {
	vertical-align: -10%;
}
.navbar-transparent {
  background-color: transparent;
  transition: .5s all;
}

.menu a {
	color: $light;
	border-bottom: 0; // Remove default link border
}
.menu a:hover {
	color: $bright;
	border-bottom: 0;
}
