/*
 * Navigation
 */

.navbar {
	background-color: $white;
  border-bottom: 1px solid $light;
  border-radius: 0px;
  transition: .3s all;
  // font-family: 'Bree', sans-serif;
  font-size: 1rem;
}
.navbar:hover {
  cursor: pointer;
}
.navbar .navbar-brand {
  color: $neutral;
  opacity: .8;
  font-weight: bold;
  border-bottom: 0px;
  transition: .3s all;
  font-size: 1.1rem;
}
@media (min-width: 992px) {
  .navbar .navbar-brand {
    margin-right: -.5rem;
  }
}
.navbar-right {
  float: right;
  padding-right: 15px;
}
.navbar-nav li {
  margin-bottom: 0px;
  display: inline-block;
}
.navbar-nav li a {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .navbar-nav li a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.navbar-nav a,
.navbar-toggle i {
  border-bottom: 0px;
  color: $light;
  font-size: 1rem;
  transition: .3s all;
}
.nav>li>a:hover, .nav>li>a:focus, .navbar-toggle:hover i {
  background-color: initial;
  color: $bright;
  opacity: 1;
  transition: .3s all;
}
.navbar-nav li.active a {
  color: $bright;
}
.navbar a.navbar-brand:hover {
  opacity: 1;
  transition: .3s all;
}
.icon-panel {
  color: $light !important;
  opacity: .8;
  transition: .3s all;
}
.navbar:hover .icon-panel,
.icon-panel:hover {
  opacity: 1;
  transition: .3s all;
}
/* Changes font size of gamepad to match other icon */
.fa-gamepad {
	font-size: 1.5rem;
	vertical-align: -8%;
	margin-top: -10px;
}
/*.fa-th {
	vertical-align: -10%;
}*/
.navbar-transparent {
  background-color: transparent;
  transition: .5s all;
}
