/*
 * Pagination
 */

.pagination {
  overflow: hidden; /* clearfix */
  color: #ccc;
  text-align: center;
  width: 100%;
}
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
  float: left;
  width: 50%;
}
.pagination-item:hover {
  color: #F8A17B;
}
.pagination-item:first-child {
  border-top-left-radius:    1rem;
  border-bottom-left-radius: 1rem;
}
.pagination-item:last-child {
  border-top-right-radius:    1rem;
  border-bottom-right-radius: 1rem;
  margin-left: -1px;
}
.pagination-item-default {
  margin-left: 0px !important;
}