/*
 * Panel
 */

.panel-default {
  border: 0px;
  box-shadow:none;
  margin-bottom: .5rem;
}
.panel-default .panel-heading {
	background-color: white;
	color: rgba(23, 165, 204, 0.8);
	border-radius: .6rem;
	border-bottom: 0px;
	display: inline-block;
	border: 2px solid rgba(23, 165, 204, 0.8);
}
.panel-title a {
  opacity: 1;
}
.panel-heading:hover .panel-title a {
  color: $bright;
  opacity: 1;
}
.panel-body {
  border-top: 0px !important;
  border-bottom: 0px !important;
  padding: 10px 15px 5px 15px;
}
.panel-body .active {
  font-weight: bold;
  color: $bright;
}

.panel-body p {
	margin-bottom: .5rem;
}
