/*
 * Post
 *
 * Styles that affect the main content of a post (project posts and game posts).
 */

.post {
  margin-bottom: 1.25rem;
}
.post .post-title {
  margin-top: .5rem;
}
.post img {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* Alert Warning override Restyling */

.alert {
	padding: 13px;
}

.alert-warning {
	color:white;
	background-color: rgb(153, 209, 224);
	border-color:#2BA6CB;
}

.alert .close {
	opacity: .8;
	line-height: 1.3;
	
}

.alert-dismissable .close {
	right: 0px;
	
}

/* Used for emphasis text on game posts */

.post .emphasis {
	color: cadetblue;
}

/* All of the extra data about the post. Date, tags, etc. */
.post-meta {
  font-size: .85rem;
  color: rgb(150, 150, 150);
  margin-bottom: .5rem;
}
.post-meta h3 {
  margin-top: 0;
  font-weight: normal;
  font-size: .85rem;
  color: #F8A17B;
}
.post-meta ul {
  list-style: none;
  padding-left: 0px;
}
.post-meta li {
  margin-bottom: 0px;
}