/*
 * Social
 */

.social {
  list-style: none;
  padding-left: 0px;
  font-size: .8rem;
  margin-bottom: 20px;
}
.social i {
  font-size: 1rem;
}
.social li {
  margin-bottom: .3rem;
}
.social a {
  color: #FFF;
  border-bottom: 0px;
  transition: .3s all;
  margin-right: 8px;
}
.social a:hover {
  color: #2BA6CB;
  opacity: 1;
  transition: .3s all;
}