/*
 * Top Panel
 */

.top-panel {
  background-image: url('../img/foster-portrait.jpg');
  background-size: 820px;
  background-position: -3rem -4rem;
}
@media (min-width: 30em) {
  .top-panel {
    background-repeat: no-repeat;
    background-position: center 30%;
  }
}
