/*
 * Typography
 */

$bree-serif: "bree-serif", "Georgia", serif;
$cronos: "cronos-pro", sans-serif;

html {
	font-size: 14px;
}
@media (min-width:768px) {
	html {
		font-size: 18px;
	}
}
body {
	font-family: $cronos;
	font-size: 1em;
	line-height: 1.35;
  color: $default-text;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $bright;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-family: $bree-serif;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: bold;
}
h1 {
	margin-top: 0;
	margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.1;
}
h2 {
  font-size: 1.2rem;
}
a {
	color: $bright;
	border-bottom: 1px solid transparent;
  transition: .3s all;
}
a:hover {
  color: $bright;
	border-bottom: 1px solid $bright;
  text-decoration: none;
  transition: .3s all;
}
ol li,
ul li {
  margin-top: 0px;
	margin-bottom: .75rem;
}
blockquote {
  border-left: none;
  font-size: .9rem;
  line-height: 1.35;
  padding-left: .75rem;
  padding-right: .75rem;
}
hr {
	border-top: 1px solid $light;
	border-bottom: none;
	border-left: none;
	margin-top: 40px;
	margin-bottom: 40px;
}
.short-rule {
	max-width: 300px;
	margin-left: 15px;
}

/* Used for emphasis text on game posts */

.emphasis {
	font-family: $bree-serif;
}

/* Used for captioning images */

.image-caption {
	font-size: .75rem;
	text-align: center;
	margin-top: -.5rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	color: rgb(181, 181, 181);
	line-height: .8rem
}

.neutral {
	color: $neutral;
}
