<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

		{% include header.html %}

    <div class="alert alert-info alert-dismissible" role="alert">
      <div class="container">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Welcome!</strong> I design one interactive nugget each day.  Come back often to see more! My goal is to do 1000. :)
      </div>
    </div>

    <div class="container main-content">

  	  {{ content }}

  	</div>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="#" class="btn btn-primary"><span class="fa fa-gamepad"></span> All game posts</a>
          </div>
          <div class="col-md-8 text-center">
            <a href="#" class="btn btn-default"><span class="fa fa-hand-peace-o"></span> I enjoyed this post!</a>
            <a href="#" class="btn btn-default"><span class="fa fa-twitter"></span> Share on Twitter!</a>
            <a href="#" class="btn btn-default"><span class="fa fa-random"></span> See a random post!</a>
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

  </body>
</html>
