---
layout: default
---

<div class="mw8 center cf pa3">
  <div class="post cf pl3">
    <h3 class="mt0 mr3 f4 neutral">{{ page.title }}</h3>
    <div class="pl3 measure-wide post-content">
      {{ content }}
    </div>
  </div>
  <!-- <div class="fl-l w-30-l pr0 pr3-l">
    <div class="pa3 br3 mb3">
      <h1 class="fs-blue">{{ page.title }}</h1>
      <h2 class="neutral cronos f5">{{ page.description }}</h2>
    </div>
  </div>
  <div class="fl-l w-70-l">
    <div class="ba b--light pa3 br3 mb3">
      <div class="post" id="main-content">
        {{ content }}
      </div>
    </div>
  </div> -->
</div>
