---
layout: default
---

<div class="container pv4">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="card">
        <div class="post-meta">
          <h1>{{ page.title }}</h1>
          {% if page.role %}
          <h3>{{ page.role }}</h3>
          {% endif %}
          <p>{{ page.description }}</p>
          <ul>{% for tag in page.tags %}<li>#{{ tag | remove: ","}}</li>{% endfor %}</ul>
        </div>
      </div>
      <a class="btn btn-primary btn-lg hidden-sm hidden-xs" href="/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;See all projects</a>
    </div>
    <div class="post col-md-8 col-xs-12">
      <div class="card">
        <div id="main-content">
          {{ content }}
        </div>
      </div>
      <a class="btn btn-primary btn-lg btn-block hidden-md hidden-lg" href="/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;See all projects</a>
    </div>
  </div>
</div>
